.app {
max-width: 500px;
margin: auto;
padding: 20px;
font-family: Arial;
}


.todo-form input {
padding: 8px;
width: 70%;
}


.todo-form button {
padding: 8px;
}


li {
display: flex;
align-items: center;
justify-content: space-between;
padding: 8px;
}


.completed {
text-decoration: line-through;
color: gray;
}